{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %} {{ super() }}

<!-- Additional styles for landing page -->
<style>
    .md-typeset .tx-insiders {
        color: #e91e63;
    }
    .md-typeset .tx-switch button {
        cursor: pointer;
        transition: opacity 250ms;
    }
    .md-typeset .tx-switch button:hover {
        opacity: 0.75;
    }
    .md-typeset .tx-switch button > code {
        display: block;
        color: var(--md-primary-bg-color);
        background-color: var(--md-primary-fg-color);
    }
    .md-typeset .tx-columns {
        -moz-columns: 2;
        columns: 2;
    }
    .md-typeset .tx-columns > * {
        -moz-column-break-inside: avoid;
        break-inside: avoid;
    }

    .md-announce strong {
        white-space: nowrap;
    }
    .tx-container {
        padding-top: 1rem;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(0, 0%, 100%, 1)' /></svg>")
                no-repeat bottom,
            linear-gradient(
                to bottom,
                var(--md-primary-fg-color),
                #a63fd9 99%,
                var(--md-default-bg-color) 99%
            );
    }
    [data-md-color-scheme="slate"] .tx-container {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(232, 15%, 21%, 1)' /></svg>")
                no-repeat bottom,
            linear-gradient(
                to bottom,
                var(--md-primary-fg-color),
                #a63fd9 99%,
                var(--md-default-bg-color) 99%
            );
    }
    .tx-content__footer {
        margin-top: 1rem;
        text-align: center;
    }
    .tx-content__footer a {
        display: inline-block;
        color: #e91e63;
        transition: transform 250ms cubic-bezier(0.1, 0.7, 0.1, 1), color 125ms;
    }
    .tx-content__footer a:focus,
    .tx-content__footer a:hover {
        transform: scale(1.2);
    }
    .tx-content__footer hr {
        display: inline-block;
        width: 2rem;
        margin: 1em;
        vertical-align: middle;
        background-color: currentColor;
        border: none;
    }
    .tx-heart {
        -webkit-animation: tx-heart 1000ms infinite;
        animation: tx-heart 1000ms infinite;
    }
    .tx-hero {
        margin: 0 0.8rem;
        color: var(--md-primary-bg-color);
    }
    .tx-hero h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700;
    }
    .tx-admonition .admonition {
        width: 100%;
        background-color: var(--md-default-bg-color);
    }
    @media screen and (max-width: 29.9375em) {
        .tx-hero h1 {
            font-size: 1.4rem;
        }
    }
    .tx-hero__content {
        padding-bottom: 6rem;
    }
    @media screen and (min-width: 60em) {
        .tx-hero {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }
        .tx-hero__content {
            max-width: 19rem;
            margin-top: 3.5rem;
            padding-bottom: 7vw;
        }
        .tx-hero__image {
            order: 1;
            width: 38rem;
        }
    }
    @media screen and (min-width: 76.25em) {
        .tx-hero__image {
            padding: 2em 0;
        }
    }
    .tx-hero .md-button {
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        color: var(--md-primary-bg-color);
    }
    .tx-hero .md-button:hover,
    .tx-hero .md-button:focus {
        color: var(--md-default-bg-color);
        background-color: var(--md-accent-fg-color);
        border-color: var(--md-accent-fg-color);
    }
    .tx-hero .md-button--primary {
        color: #894da8;
        background-color: var(--md-primary-bg-color);
        border-color: var(--md-primary-bg-color);
    }

    /* Application header should be static for the landing page */
    .md-header {
        position: initial;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
        margin: 0;
    }

    /* Hide main content for now */
    .md-content {
        display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
        .md-sidebar--secondary {
            display: none;
        }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
            display: none;
        }
    }
</style>

<!-- Hero for landing page -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <!-- Hero image -->
            <div class="tx-hero__image">
                <img
                    src="assets/images/illustration.png"
                    alt=""
                    width="1659"
                    height="1200"
                    draggable="false"
                />
            </div>

            <!-- Hero content -->
            <div class="tx-hero__content">
                <h1>ForFansubs</h1>
                <p>
                    Bir çeviri grubuna ne gerekiyorsa o.
                    <br />
                    Kısa sürede kurun, kolayca kullanın.
                </p>
                <a
                    href="{{ page.next_page.url | url }}"
                    title="{{ page.next_page.title | striptags }}"
                    class="md-button md-button--primary"
                >
                    Başlayalım
                </a>
                <a
                    href="{{ config.repo_url }}"
                    target="_blank"
                    title="{{ lang.t('source.link.title') }}"
                    class="md-button"
                >
                    {{ lang.t('source.link.title') }}
                </a>
            </div>
        </div>
        <div class="tx-hero tx-admonition">
            <div class="admonition note">
                <p class="admonition-title">Projeye katkı</p>
                <p>
                    Projeye herhangi bir katkıda bulunmak istiyorsanız,
                    paketleri forklayarak yardımcı olabilirsiniz. Herhangi bir
                    öneriniz, sorununuz ya da şikayetiniz varsa, ilgili paketin
                    github sayfasında yeni bir issue oluşturabilirsiniz.
                </p>
            </div>
        </div>
        <div class="tx-hero tx-admonition">
            <div class="admonition note">
                <p class="admonition-title">Farklı bir sorunuz varsa</p>
                <p>
                    Bana <code>aybertocarlos@gmail.com</code> adresinden mail
                    yoluyla ya da Discord üzerinden
                    <code>aybertocarlos#0009</code>'a özel mesaj atarak
                    ulaşabilirsiniz.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %} {% block footer %}
<div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
        <div class="md-footer-copyright">
            {% if config.copyright %}
            <div class="md-footer-copyright__highlight">
                {{ config.copyright }}
            </div>
            {% endif %} Made with
            <a
                href="https://squidfunk.github.io/mkdocs-material/"
                target="_blank"
                rel="noopener"
            >
                Material for MkDocs
            </a>
            <div>
                <a href="/" title="TR Flag">
                    <img src="/assets/images/flags/tr.png" />
                </a>
                <!--a href="/en" title="US Flag">
                    <img src="/assets/images/flags/us.png" />
                </a-->
            </div>
        </div>
        {% include "partials/social.html" %}
    </div>
</div>
{% endblock %}
