@font-face {
    font-family: "Geomanist Italic";
    font-style: normal;
    font-weight: normal;
    src: local("../fonts/Geomanist Regular Italic"),
        url("../fonts/Geomanist-Regular-Italic.woff") format("woff");
}

@font-face {
    font-family: "Geomanist";
    font-style: normal;
    font-weight: normal;
    src: local("../fonts/Geomanist Regular"),
        url("../fonts/Geomanist-Regular.woff") format("woff");
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Geomanist";
}

.md-typeset .critic.comment::before,
.md-typeset .critic.comment::after {
    content: " ";
}
